
processed_data/Catalina-Jemez/BGZOB_Pit1_processed.csv
processed_data/Catalina-Jemez/BGZOB_Pit2_processed.csv
processed_data/Catalina-Jemez/BGZOB_Pit3_processed.csv
processed_data/Catalina-Jemez/BGZOB_Pit4_processed.csv
processed_data/Catalina-Jemez/Green_Pit1_processed.csv
processed_data/Catalina-Jemez/Green_Pit2_processed.csv
processed_data/Catalina-Jemez/Green_Pit3_processed.csv
processed_data/Catalina-Jemez/MC_Pit1_processed.csv
processed_data/Catalina-Jemez/MC_Pit2_processed.csv
processed_data/Catalina-Jemez/MC_Pit3_processed.csv
